.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 580px;
    height: 350px;
    background-color: var(--light-Mode-background);
    z-index: 20;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 8px;
    color: var(--Black);
}

@media (max-width: 768px){
    .modal{
       margin: auto;
       width: 80%;
       text-align: center; 
    }
}