.music-card{
    text-align: center;
    width: 190px;
    cursor: pointer;
}

.music-card img{
    border-radius: 10px;
}

.music-card h3, .music-card p{
    color:  var(--Black);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.music-card p{
    color:  var(--Black);
}