.header{
  display: flex;
  width: 100%;
  height: 10%; 
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000; 
  background-color: #EBF4F6; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 10px;
}



.icon-header{
    max-width: 5%;
    margin-left: 100px;
}
  .butons {
    display: flex;
    gap: 20px; 
    margin-right: 60px;
  }
  
  .butons a {
    display: inline-block;
  }
  
 