.add-button {
    align-items: center;
    background-color: white;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 8px;
    height: 80px;
    justify-content: center;
    position: absolute;
    right: 5vw;
    top: 5vw;
    width: 160px;
    z-index: 10;
}

.add-button p:hover {
    cursor: pointer;
    text-decoration: underline;
}
