:root {
  --light-Mode-background: #EBF4F6;
  --GreyDeTails: #CACACA;
  --Black: #000000;
  --DarkModeBackground: #021526;
  --Background-camp-text: #FAFAFA;
}

.dark-mode {
  --light-Mode-background: var(--DarkModeBackground);
  --Black: #FAFAFA; 
}
